@import "_variables.scss";

* {
    font: {
        family: nunito, rubik, montserrat, roboto, sans-serif;
        box-sizing: border-box;
    }
}

body {
    background-color: $second-color;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}

:focus {
    outline: 1px solid $third-color;
}


.principal-content {
    display: flex;
    flex-direction: column;
    max-width: 767px;
    height: 100vh;
    padding: 50px;
    margin: 0px auto;
    background: {
        image: url(../../assets/images/phone-background.png);
        repeat: no-repeat;
        size: cover;
        position: center;
    }
}

.principal-content {
    h1, h2, h3, p {
    font: {
    size: 10px;
    weight: 600;
    }
    line-height: 1.6;
    text-align: center;
    margin: 0px;
    color: $primary-color;
    animation-name: principal-content;
    animation-duration: 2s;
    }
    h1 {
        font: {
            size: 19px;
            weight: bold;
        }
        margin: {
            bottom: 30px;
        }
    }

    h2, h3, p {
        font-weight: 500;
    }

    h3 {
        margin: {
            bottom: 30px;
        }
    }

    p {
        margin: 20px 0px;
    }

    &_bold {
        font-weight: bold;
    }
    
}

#containerResult {
    margin-top: 24px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    background: $second-color;
    nav {
        padding: 0;
        ul {
            padding: 0;
            list-style: none;
            text-align: center;
            a {
                text-decoration: none;
                color: $primary-color;
            }

            a:active {
                color: $third-color;
            }

            li:nth-child(2) {
                padding: 16px 0;
            }
            li:last-child {
                padding-top: 16px;
            }
        }
    }
}

#weight-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: weight-content;
    animation-duration: 2s;

    div {
        display: flex;
        flex-direction: column;
    }
    label {
        color: $primary-color;
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 12px;
    }
    input {
        padding: 12px;
        border-radius: 4px;
        border: none;
        width: 200px;
        height: 12px;
        margin-bottom: 16px;
        &:focus-visible {
            outline: 2px solid $third-color;
        }
    }

    select {
        background: white;
        border: none;
        padding: 12px;
        border-radius: 4px;
        width: 223px;
        cursor: pointer;
        &:focus-visible {
            outline: 2px solid $third-color;
        }
    }
    button {
        background: $primary-color;
        border: none;
        padding: 14px;
        width: 222px;
        margin-top: 24px;
        border-radius: 6px;
        color: $second-color;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            background-color: $third-color;
            color: $primary-color;
        }
    }
}

@keyframes principal-content {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }

  @keyframes weight-content {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
  }